body {
	background: #222 !important;
}

@mixin addRotate ($params1, $params2){
    -moz-transform: rotate($params1) scale($params2);
    -webkit-transform: rotate($params1) scale($params2);
    -o-transform: rotate($params1) scale($params2);
    transform: rotate($params1) scale($params2);
}

@-webkit-keyframes containerAnim {
   0% {@include addRotate(760deg, 0)}
   100% {@include addRotate(0deg, 1)}
}
.container-anim {
    -webkit-animation-name: containerAnim;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes buttonZoom {
   0% {z-index: 10; transform: scale(1);}
   50% {transform: scale(1.2);}
   100% {transform: scale(1); z-index: 1;}
}
.button-zoom {
    -webkit-animation-name: buttonZoom;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
a {
	text-decoration: none;
}
#pageone, #pagequestions, #results {
	background: #222;
	margin-top: 70px;
}
.header {
	height: 50px;
	background: #111;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 10px;
	img {
		width: 450px;
		@media screen and (max-width: 550px) {
			width: 250px;
			margin: 10px;
		}
	}
}
#main{
	text-align: center;
	.opening-text {
		color: #fff;
		text-shadow: 1px 1px 2px #000;
		font-size: 22px;
		margin-top: 50px;
		@media screen and (max-width: 500px) {
			font-size: 18px;
		}
	}
}
#main .start-test {
	background: #0c0;
	width: 200px;
	height: 50px;
	padding: 0;
	border-radius: 50px;
	border: none;
	margin: 50px auto;
	box-shadow: 2px 2px 5px 0 #000, inset 0 0 5px 0 #000;
	&:hover {
		background: #090;
		box-shadow: 0 0 5px 2px #000, inset 0 0 2px 1px #000;
	}
	p {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		font-weight: bold;
	}
}
.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.car-image {
	max-width: 500px;
	max-height: 300px;
	border-radius: 5px;
	@media screen and (max-width: 550px){
		width: 98%;
	}
}
#main .answers {
	text-align: center;
	background: #222;
	max-width: 500px;
	margin: 0 auto 10px auto;
	
	button {
		height: 50px;
		padding: 0;
		margin: 0 auto 2px auto;
		max-width: 500px;
		background: #111;
		border: 0px solid #000;
		border-radius: 5px;
		&:hover {
			background: #444;
		}
		p {
			margin: 0;
			padding: 0;
			color: #fff;
			text-shadow: 2px 2px 2px #000;
		}
		@media screen and (max-width: 500px){
			height: 40px;
			width: 98%;
		}
	}	
	
}
.container {
		background: #111;
		max-width: 500px;
		padding: 20px;
		margin: 100px auto;
		border-radius: 20px;
		box-shadow: 5px 5px 10px 0 #000, inset 0 0 3px 1px #000;
		@media screen and (max-width: 550px){
			width: 85%;
			margin: 50px auto;
			padding: 10px;
		}
}

#results {
	p {
		font-size: 2em;
		color: #fff;
		text-shadow: 2px 2px 2px #000;
		@media screen and (max-width: 500px){
			font-size: 1.5em;
		}
	}
	
}
.points {
	font-weight: bold;
	border-radius: 10px;
	width: 100px;
	color: #fff;
	text-shadow: 1px 1px 1px #222;
	margin: 10px auto;
}